{% load bootstrap4 i18n static%}
<!DOCTYPE html>
<html>
  <head>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{% block head_title %}{% endblock %}</title>
  </head>
  <body>
    {% block body %}

    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
      <p class="navbar-brand" href="#">{{ user.get_full_name }}</p>
        <p class="navbar-brand">Current date: {% now "jS F Y H:i" %}</p>
    </div>

    {% block content %}

    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
